/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

/* Elements */

body {
	background: #4096EE url(images/img1.jpg) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: small;
	color: #333333;
}

h1 {
}

h2, h3 {
	margin-top: 0px;
}

h4, h5, h6 {
}

p, ol, ul, dl, blockquote {
}

a {
	color: #1B4978;
}

a:hover {
	text-decoration: none;
}

/* Header */

#header {
	width: 1500px;
	height: 60px;
	margin: 0px auto;
}

#header h1 {
	float: left;
	margin: 0px;
	padding-top: 20px;
	font-size: 42px;
	letter-spacing: -2px;
}

#header h2 {
	float: right;
	margin: 10px 0px 0px 0px;
	padding-top: 28px;
	font-size: 16px;
	letter-spacing: -1px;
	color: #FFFFFF;
}

#header a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 1500px;
	height: 50px;
	margin: 0px auto;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	width: 300px;
	padding: 5px 0px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	background: #EEEEEE;
	font-size: 17px;
}

#menu a:hover {
	background: #CCCCCC;
}

/* Content */

#content {
	background: #FFFFFF;
	width: 1500px;
	margin: 0px auto;
	padding: 2px 0px 0px 0px;
}

#colOne {
	position: right;
	width: 750px;
	margin-top: 20px;
	padding-right: 20px;
}

#colTwo {
	position: left;
	width: 800px;
	margin-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

#colTwo ul {
	margin-left: 0px;
	padding-left: 0px;
	list-style-position: inside;
}

#content h1 {
	font-family: "alex-brush";
}

#content h3 {
	color: #2F73B8;
}
/* Footer */

#footer {
	width: 1500px;
	margin: 0px auto;
	padding: 3px 0px 0px 0px;
	height: 50px;
	background: #EEEEEE;
}

#footer p {
	margin: 0px;
	padding-top: 15px;
	text-align: center;
	font-size: 11px;
	color: #999999;
}

#footer a {
	color: #666666;
}

#footer a:hover {
	color: #333333;
}
/*container*/
.flex-c{
	display: flex;
	}

/*lab */
.lab1{
	flex: 1;
	margin: 20px 0px 30px 150px;
	padding: 5px;
	border: solid pink;
	border-style: inset;
}

#lab2{
	margin: 20px 150px 30px 0px;
	position: top;
	border: solid lightblue;
	border-style: inset;
}

#lab2 h2 span {
		color: #853E94;
}

#lab2 p{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}


#lab2 b{
	font: italic;
	color: black;
}

#lab2 p span {
	color: #531F8C;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"
}

/*hw*/
#hw2{
	margin-left: 50%;
}
#hw2 span{
	color: inherit;
}

#hw2 td{
		color: blueviolet;
}

#hw2 img{
		border: dashed 1px;
}

#hw2 h3{
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
		text-decoration: underline;
		text-decoration-color: red;
}

#hw2 strong{
		color: midnightblue;
}

#hw2 textarea{
		font: italic;
		font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
		color: chocolate;
}
/* img */

.img{
	background: url("images/color.jpg");
	border: solid blue 3px;
	background-repeat: no-repeat;
	margin: 50px 150px 50px 150px;
	background-size: 100%;
	text-align: center;
}

.img img{
	margin: 50px 150px;
	
}